<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All user's data</title>
</head>
<body>
    <h2>All User's Data</h2>
    <table>
        <thead>
            <tr>
                <th style="border-top-left-radius: 10px;">ID</th>
                <th>Username</th>
                <th colspan="3" style="border-top-right-radius: 10px;">Email</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(function(item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.username %></td>
                    <td ><%= item.email %></td>
                    <td><button onclick="location.href='user/<%= item.id%>/edit'" >Edit Details</button></td>
                    <td><button onclick="location.href='user/<%= item.id%>/delete'" >Delete User</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>